<span ng-if="isPrimitive" ng-class="{ 'jh-type-bool': isBoolean, 'jh-type-number': isNumber, 'jh-type-string': isString, 'jh-type-array': isArray, 'jh-type-object': isObject }">
  {{ json }}
  <span ng-if="isEmpty && isString" class="jh-empty">(Empty String)</span>
</span>
<span ng-if="isEmpty && isArray" class="jh-empty">(Empty List)</span>
<span ng-if="isEmpty && isObject" class="jh-empty">(Empty Object)</span>
<table ng-if="!isEmpty && !isPrimitive" ng-class="{ 'jh-type-array': isArray, 'jh-type-object': isObject }">
<tbody>
  <tr ng-repeat="(key, val) in json track by $index">
    <th class="jh-key" ng-class="{ 'jh-array-key': isArray, 'jh-object-key': isObject }">
      {{ key }}
    </th>
    <td class="jh-value" ng-class="{ 'jh-array-value': isArray, 'jh-object-value': isObject }" json-human-helper="val">
    </td>
  </tr>
</tbody>
</table>
